
@font-face {
    font-family: montserrat;
    src: url(./font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body{
    padding: 0;
    margin: 0;
    background-color: #131415;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: montserrat;
    color: #ffff;
}

.header{
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userPanel{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
.userPanel i{
    color: #ffa400;
 
}

.hero{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.textHero{
    width: 50%;
    
}
.textHero h1{
    font-size: 66px;
    font-weight: 700;
}
.textHero h3{
    font-size: 51px;
    font-weight: 700;
}
.textHero h5{
    font-size: 18px;
    font-weight: 400;
}
.textHero button{
    font-family: montserrat;
    font-size: 14px;
    color: #FEFEFF;
    height: 50px;
    width: 166px;
    border-style: none;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border-radius: 15px;
}

.heroImage{
    min-width: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroImage img{
    width: 90%;
}

.today{
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.today h2{
    width: 100%;
    font-weight: 500;
    font-size: 22px;
}
.todayContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.todayBoxContainer{
    width: 347px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
}
.todayBoxContainer h1{
    font-weight: 500;
    font-size: 15px;
    margin: 2px;
}
.todayBoxContainer h5{
    margin: 2px;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.3;
}
.todayBoxContainer h3{
    margin: 2px;
    font-weight: 700;
    font-size: 19px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.todayBoxContainer button{
    font-family: montserrat;
    font-size: 12px;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    border-radius: 17.5px;
    border-style: none;
}

.category{
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.category h1{
    width: 100%;
    font-weight: 800;
    font-size: 15px;
}
.categoryContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.categoryBox{
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
}
.categoryBox img{
    border-radius: 15px;
    padding: 10px;
    width: 71px;
    background-repeat: no-repeat;
}
.categoryBox h3{
    font-size: 15px;
    font-weight: 400;
}
.categoryBox span{
    width: 24px;
    height: 4px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
}
.categoryPizzas{
    background-image: url(./img/pizzasBlur.png);
}
.categoryBurguer{
    background-image: url(./img/burguerBlur.png);
}
.categoryPapas{
    background-image: url(./img/papasBlur.png);
}
.categoryIndividuales{
    background-image: url(./img/individualesBlur.png);
}
.categoryWraps{
    background-image: url(./img/wrapsBlur.png);
}
.categoryMexican{
    background-image: url(./img/tacoBlur.png);
}
.categoryBatidos{
    background-image: url(./img/batidukisBlur.png);
}

.popular{
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popular h1{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
}
.popularContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.popularBox{
    padding-top: 10px;
    width: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
}
.popularFooter{
    width: 237px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popularBox img{
    width: 237px;
    height: 97px;
}
.popularBox h2{
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
}
.popularBox h3{
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
}
.popularFooter h4{
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.popularFooter button{
    font-family: montserrat;
    font-size: 12px;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    border-radius: 17.5px;
    border-style: none;
}
.footerMenu{
    margin-top: 100px;
    width: 100%;
}
.footerMenu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 17px;
    font-weight: 400;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 400;
}

footer i{
    color: #e73f2e;
}

footer p span{
    font-weight: 700;
}

@media (max-width: 500px){
    .hero{
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .textHero{
        width: 100%;
    }
    .textHero h1{
        font-size: 42px;
        font-weight: 500;
    }
    .textHero h3{
        font-size: 32px;
        font-weight: 500;
    }
    .textHero h5{
        font-size: 15px;
        font-weight: 400;
    }
    .heroImage{
        width: 100%;
    }
    .heroImage img{
        width: 100%;
    }
}